body
{
	background-image: url("background_image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
}


.container1
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
	". . . . . . ."
	". . header header header . ."
	". . . . . . .";
}


.header
{
	grid-area: header;
	background-color: white;
	color: black;
	border-style: solid;
	font-size: 32px;
	font-style: italic;
	text-align: center;
}


.container2
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	". . . logout . . ."
	". . . . . . .";
}

.logout
{
	grid-area: logout;
	background-color: yellow;
	color: black;
	border-style: solid;
	text-align: center;
}


button {
    background-color: #0069ed;
	color: white;
	padding: 10px 24px;
	border-radius: 6px;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}


.container3
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	". . logged logged logged . ."
	". . . . . . .";
}

.logged
{
	grid-area: logged;
	background-color: cyan;
	color: black;
	border-style: solid;
	border-color: white;
	font-style: italic;
	text-align: center;
}


.container4
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	". . . . . . ."
	". footer footer footer footer footer .";
}


.footer
{
	grid-area: footer;
	background-color: brown;
	border-style: solid;
	border-color: black;
	color: white;
	font-style: italic;
	text-align: center;
}


div
{
	white-space: pre;
}