body
{
	background-image: url("background_image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
}


.container1
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
	". . . . . . ."
	". . header header header . ."
	". . . . . . .";
}


.header
{
	grid-area: header;
	background-color: white;
	color: black;
	border-style: solid;
	font-size: 32px;
	font-style: italic;
	text-align: center;
}


.container2
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr
	;
	grid-template-areas:
	". . . register . . ."
	". . . . . . ."
}


.register
{
	grid-area: register;
	background-color: cyan;
	color: black;
	border-style: solid;
	font-size: 16px;
	text-align: center;
}
	

.container3
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
	". . login login login . ."
}


.login
{
	grid-area: login;
	background-color: green;
	color: white;
	border-style: solid;
	border-color: white;
	font-style: italic;
	text-align: center;
}


.zaloguj
{
	font-size: 22px;
}


button {
    background-color: #0069ed;
	color: white;
	padding: 10px 24px;
	border-radius: 6px;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}


.container6
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
	". . . . . . ."
	". . . time . . ."
	". . . . . . .";
}


.time
{
	grid-area: time;
	background-color: yellow;
	font-weight: bold;
	text-align: center;
	color: black;
	border-style: solid;
	border-color: black;
	font-size: 22px;
	font-style: italic


}


.czas
{
	font-size: 22px;
	font-style: italic;
}


.container4
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	". info info . news news ."
	". . . . . . .";
}


.info
{
	grid-area: info;
	background-color: blue;
	color: white;
	border-style: solid;
	border-color: white;
	font-style: italic;
	text-align: center;
}


.onas
{
	font-size: 22px;
}


.news
{
	grid-area: news;
	background-color: cyan;
	color: black;
	border-style: solid;
	border-color: white;
	font-style: italic;
	text-align: center;
}


.conowego
{
	font-size: 22px;	
}


.container5
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
	". footer footer footer footer footer ."
	". . . . . . .";
}


.footer
{
	grid-area: footer;
	background-color: brown;
	border-style: solid;
	border-color: black;
	color: white;
	font-style: italic;
	text-align: center;
}


div
{
	white-space: pre;
}




